# Build output
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE
.vs/
.vscode/

# OS
.DS_Store

# Logs
*.log

/Projekt/BiboWebBot/appsettings.json
/Projekt/BiboWebBot.Console/appsettings.json
/Projekt/BiboWebBot.Console/google-oauth-tokens/
